@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

body {
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* header */
header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 0px 30px 0px 5px;
}

header img {
  height: 54.08000183105469px;
  width: 259.08001708984375px;
  left: 0px;
  top: 0px;
}
.word {
  display: flex;
  gap: 50px;
  font-family: "Halant", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#hire {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #155eef;
  height: 44px;
  border: 2px solid #155eef;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  margin-top: 10px;
}

/* first frame*/

.first {
  display: flex;
  color: wheat;
  justify-content: space-evenly;
}
.first img {
  height: 479px;
  width: 443px;
  left: 949px;
  top: 56px;
  border-radius: 0px;
}
.right {
  padding-left: 200px;
}

.right h1 {
  color: #b8b8b8;
  font-family: "Halant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
}
.right h2 {
  color: #ffffff;
  font-family: "Halant", serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
}
.right p {
  font-family: "Manrope", sans-serif;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  width: 95%;
  color: #a3a3a3;
}
#seemy {
  background-color: #155eef;
  color: white;
  height: 44px;
  width: 164px;
  left: 0px;
  top: 160px;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
}
/* second frame*/
.second {
  background-color: white;
  display: flex;
  gap: 50px;
}

.second img {
  padding-left: 120px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.rightty {
  padding-top: 32px;
}

.right h1 {
  font-family: "Halant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.rightty p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: justified;
  width: 75%;
}
#hirey {
  background-color: #155eef;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 10px 49px 10px 49px;
  border: none;
  border-radius: 10px;
}
#seemie {
  color: #155eef;
  background-color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 10px 49px 10px 49px;
  border: 2px solid #155eef;
  border-radius: 10px;
}

/* third frame */
.third {
  background-color: #e6e6e6;
  display: flex;
  padding-bottom: 84px;
}

.third img {
  padding-left: 120px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.reco {
  background-color: white;
  width: 40%;
  height: 40%;
  margin-top: 10px;
  position: relative;
  z-index: 2;
  right: 150px;
  top: 240px;
  padding: 20px;
}
.reco h3 {
  font-family: "Halant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: justified;
}

.reco p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: justified;
}
/* footer section */
.foot-logo {
  display: flex;
  justify-content: space-around;
}

.faaa {
  margin-left: 20px;
}

.foot-logo-image {
  width: 170px;
  height: 54.08px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 19.95px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.foot-logo p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: left;
  color: white;
}

/* Mobile Responsivenes */
@media all and (max-width: 1000px) {
  * {
    padding: 0;
    margin: 0;
  }
  .first {
    display: flex;
    flex-direction: column-reverse;
  }
  header {
    padding: 0px;
    width: 100%;
  }
  .first {
    margin-left: 3%;
  }
  .first img {
    width: 100%;
  }
  .right {
    padding: 0;
  }
  .right h1 {
    font-family: Halant;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .right h2 {
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
  }
  .right p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    width: 99%;
    padding-bottom: 10px;
    padding: 0px;
  }
  #seemy {
    height: 44px;
    width: 85%;
    margin-left: 3%;
    margin-bottom: 3%;
    left: 0px;
    top: 88px;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
  }
  .word {
    display: none;
  }

  .second img {
    display: none;
  }

  
  .rightty h1 {
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .rightty p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: justified;
    width: 95%;
    margin-left: 3%;
  }
  #hirey {
    height: 44px;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    margin-left: 3%;
    margin-bottom: 5%;
  }
  #seemie {
    height: 44px;
    width: 180px;
    left: 176px;
    top: 0px;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  .reco {
    background-color: #e6e6e6;
    width: 100%;

    margin-top: 0px;
    position: relative;
    z-index: 2;
    right: 0px;
    top: 0px;
    padding: 0px;
  }
  .reco h3 {
    font-family: Halant;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .reco p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: justified;
    width: 85%;
    margin-left: 5%;
    background-color: ;
  }
  .third {
    background-color: #e6e6e6;
    
    padding-bottom: 84px;
  }
  .third img {
    display: none;
  }

  .foot-logo {
    display: inline-block;
    width: 70%;
  }
  .faaa {
    display: flex;
    color: white;
  }
  #any2023 {
    font-size: 15.96px;
    display: flex;
    justify-content: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4988210201263428px;
    text-align: left;
    color: white;
  }
  .inile {
    display: flex;
  }
  .hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    padding: 8px;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .hamburger::before {
    border: 2px solid black;
    border-left: unset;
    border-right: unset;
  }

  .hamburger::after {
    width: 100%;
    height: 2px;
    top: 50%;
    z-index: 1;
    background-color: black;
    transform: translateY(-50%);
  }
  .imggggg {
    height: 45.08000183105469px;

    top: 2.46002197265625px;
  }
}
